* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  html {
    font-size: 62.5%;
  }
  body {
    background-color: #eedcb3;
  }
  
  ul {
    list-style: none;
  }
  header {
    width: 100%;
    background-color: white;
    height: 60px;
  }
  .box {
    text-align: center;
    margin: 0 auto;
  }
  .head > ul {
    list-style: none;
  }
  .base{
    width: 100%;
    display: flex;
    position: fixed;
  }
  .base > li {
    background-color: white;
    width: 25%;
    height: 60px;
    float: left;
    text-align: center;
    border-right: 1px solid rgb(31, 30, 30);
  }
  .base > li > a:hover {
    background-color: rgb(186, 186, 186);
  }
  .base > li .indent {
    display: none;
  }
  .base > li:hover .indent {
    display: block;
    width: 25%;
  }
  .indent {
    position: absolute;
    top: 60px;
  }
  .indent > li {
    background-color: white;
    height: 60px;
    list-style: none;
  }
  .indent > li:hover {
    background-color: rgb(186, 186, 186);
  }
  a {
    font-size: 25px;
    text-align: center;
    color: black;
    line-height: 2.5;
    text-decoration: none;
    display: block;
  }
  
  .mainImg {
    padding-top: 60px;
    width: 100%;
  }
  .mainImg img{
    width: 100%;
  }
  .text{
    width: 100%;
    text-align: center;
    padding-top: 110px;
  }
  h3{
    font-size: 2.8em;
  }
  .tee{
    font-size: 1.6em;
    line-height: 4;
  }

  main {
    width: 100%;
    height: 1200px;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .to{
    width: 100%;
    height: 1000px;
    background-color: white;
  }
  .top{
    width: 100%;
  }
  form{
    padding-top: 200px;
  }
  .tab{
    margin: 0 auto;
  }
  tr{
    line-height: 5;
  }
  th{
    font-size: 1.6em;
  }
  .sub{
    width: 150px;
  }




  footer {
    width: 100%;
    height: 500px;
    background-color: #fff;
  }
  .foot {
    background-color: white;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }
  .footWrap {
    width: 310px;
    padding-top: 40px;
  }
  .footWrap h3 {
    text-align: left;
    margin-left: 90px;
    font-size: 2em;
    font-weight: bold;
  }
  .footWrap ul {
    list-style-type: disc;
    border-right: dotted 1px #dedede;
    margin-top: 20px;
  }
  .reserve ul {
    border: none;
  }
  .footWrap ul li {
    text-align: left;
    margin-left: 120px;
  }
  .footWrap a {
    display: inline;
    font-size: 1.6em;
  }